section:nth-child(2){
   display: flex;
   flex-direction: column;
   height: 2300px;
   justify-content: space-evenly;
}
.main-picture{
    height: 643px;
    width: 100%;
}
.main-picture img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
}
.inner1 img{
    width: 32px;
    height: 32px;
}
.inner1 p2{
    height: 32px;
    opacity: 87%;
    font-weight: 400;
    font-size: 1rem;
    line-height: 2rem;
    color:#394149 ;
}
.inner1{
    display: flex;
    width: 55%;
    justify-content: space-between;
}
.inner-container{
    width: 752px;
    margin: 0 auto;
}
.inner-container h1{
    width: 752px;
    height: 216px;
    font-weight: 600;
    font-size: 4rem;
    line-height: 4.5rem;
    letter-spacing: -0.03em;
    color: #1D3444;
    margin: 0;
}
.inner-container p1{
    width: 752px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.75rem;
    color:#5B5B5B;
}
.inner-container h2{
    width: 752px;
    height: 168px;
    font-weight: 600;
    font-size: 3rem;
    line-height: 3.5rem;
    letter-spacing: -0.03em;
    color: #0D1317; 
    margin: 0;
}
.inner0{
    height: 850px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.inner3{
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}