
body button{
    font-size: 16px;
    font-weight: 600;
    line-height: 17.04px;
}
body h1{
    font-weight: 600;
    letter-spacing: -0.03em;
}
body p{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: #5B5B5B;
}
body p1{
    height: 84px;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color:#5B5B5B ;
}
.learn-more {
    font-weight: 500;
    font-size: 16px;
    line-height: 17.04px;
    color: #F58A07;
    margin-top:20px;
    height: 17px;
}
.learn-more::after {
    content: "\2192";
    padding: 5px;
}
section:nth-child(2) {
    background-color: #DCEAF5;
    height: 703px;
    width: 100%;
}
.first-container{
    display: flex;
    height: 100%;
    align-items: end;
}
.firstdiv{
    width: 50%;
    height: 618px;
    min-width: 500px;
}
.first-img{
    width: 110%;
    height:100%;
}
.firstdiv h1 {
    font-size: 64px;
    line-height: 72px;
    width: 576px;
    height: 144px;
    color: #1D3444;
    margin-bottom:0;
}
.firstdiv p{
    width: 571px;
}
.firstdiv button {
    width: 199px;
    height: 54px;
    border-radius: 27px;
    border: none;
    background-color: #F58A07;
    color: white;
}
.button-div a {
    background-color: #DCEAF5;
    color: #1D3444;
    height: 17px;
    font-size: 16px;
    font-weight: 600;
    line-height: 17.04px;
}
.button-div {
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    height: 54px; 
}
.firstdiv h3 {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    height: 30px;
    color: #39414980;
    margin-bottom: 0;
}
.first-logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
}
.first-logo img{
    margin-top:20px;
}
section:nth-child(3) {
    height: 740px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 96px auto;
}

.helpcontainer {
    display: flex;
    justify-content: space-between;
    min-width: 930px;
}

section:nth-child(3) h1 {
    width: 735px;
    font-size: 48px;
    line-height: 56px;
    color: #1D3444;
}
.help1 p{
    width: 735px;
    height: 90px;
}
.help2 h2{
    height: 30px;
    font-weight: 900;
    font-size: 24px;
    line-height: 25.56px;
    letter-spacing: -0.03em;
    color:#0D1317;
}
.help2 {
    width: 399px;
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.help2 img{
    border-radius: 20px;
    width: 100%;
}

section:nth-child(4) {
    background-color: #EDF7FF;
    height: 665px;
    display: flex;
    align-items: center;
}

.feature-container {
    display: flex;
    flex-direction: column;
    height: 85%;
    justify-content: space-evenly;
}
.feature0{
    display: flex;
}
.feature0 h1 {
    width: 619px;
    height: 132px;
    font-size: 36px;
    line-height: 44px;
    color: #0D1317;
}
.feature0 p {
    width: 620px;
    height: 102px;
    color: #1D3444;
}

.feature1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-width: 900px;

}
.feature2 {
    width: 401px;
    height: 277px;
    border-radius: 20px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding:30px;
    box-sizing: border-box;
    margin: 5px;
}
.feature2 img {
    width: 33px;
    height: 34px;
}
.feature2 h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 25.56px;
    letter-spacing: 0.03em;
    color: #0D1317;
}
section:nth-child(5) {
    display: flex;
    margin: 96px auto;
    height: 667px;
}
.about1 {
    width: 50%;
    min-width: 576px;
}
.about1 h1 {
    width: 596px;
    height: 157px;
    font-size: 48px;
    line-height: 56px;
    color: #0D1317;
    margin-right: 0;
}

.about1 p {
    width: 510px;
    height: 120px;
}
.about2 {
    width: 264px;
}
.aboutcontainer {
    display: flex;
 
}
.about2 h2 {
    width: 66px;
    height: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    color: #F58A07;
    font-family: 'Inter', sans-serif;
}

.about2 h3 {
    width: 195px;
    height: 26px;
    font-weight: 600;
    font-size: 24px;
    line-height: 25.56px;
    letter-spacing: -0.03em;
    color: #0D1317;
}
.blend1 {
    width: 153px;
    height: 100%;
    mix-blend-mode: multiply;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #F58A07;
    border-radius: 20px 0 0 20px;
}
.about-img {
    position: relative;
    width: 50%;
}
.about-img img{
    height: 100%;
    border-radius: 20px;
    width: 100%;
}
section:nth-child(6){
    max-width: 1295px;
    height: 698px;
    display: flex;
    align-items: end;
    position: relative;
}
.ribbon{
    position: absolute;
    right: 0;
    top: 0;
}
.service-container {
    max-width: 1279.39px;
    height: 682px;
    width: 100%;
    margin: auto;
    background-color:#EDF7FF;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    min-width: 1075px;
}
.service-button {
    width: 100%;
    display: flex;
    align-items: center;
}
.service-button button {
    color: #A8BCCC;
    background-color: #EDF7FF;
    border: 1px solid #A8BCCC;
    width: 155px;
    height: 40px;
    border-radius: 31px;
    line-height: 24px;
    margin-left:60px ;
}
.service-button button:first-child {
    width: 194px;
    background-color: #FFFFFF;
    color: #F58A07;
    border: none;
}
.service-button button:last-child{
    width: 183px;
}
.service1:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 572px;
    height: 466px;
    min-width: 500px;
}

.service1:last-child {
    width: 472px;
    height: 466px;
    position: relative;
}

.blend2 {
    width: 120px;
    height: 466px;
    background-color: #F58A07;
    mix-blend-mode: multiply;
    position: absolute;
    top: 0;
    border-radius: 20px 0 0 20px;
}
.service1 p2 {
    width: 572px;
    height: 168px;
    font-size: 48px;
    line-height: 56px;
    color: #0D1317;
    font-weight: 600;
    letter-spacing: -0.03em;
}
.service-p {
    width: 510px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
}
section:nth-child(7) {
    width: 100%;
    height: 518px;
    display: flex;
    margin: 96px 0;
    min-width: 750px;
}
section:nth-child(7) img {
    width: 50%;
    height: 100%;
}
.CTA1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F58A07;
    min-width: 475px;
}
.CTA1 h1 {
    max-width: 532px;
    width: 100%;
    height: 168px;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
    margin-top:0;
}

.CTA1 button {
    width: 216px;
    height: 54px;
    border-radius: 31px;
    background-color: #FFFFFF;
    border: none;
    color: #F58A07;
}
section:nth-child(8) {
    height: 501px;
    display: flex;
    margin-bottom: 96px;
    align-items: end;
}

.video1:first-child {
    width: 50%;
    height: 90%;
    min-width: 575px;
}
.video2 img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.video2 {
    display: flex;
    width: 40%;
    justify-content: space-between;
}

.video1 h1 {
    width: 550px;
    height: 112px;
    font-size: 48px;
    line-height: 56px;
    color: #0D1317;
}
.video1 p {
    width: 550px;
    height: 110px;
}
.video3 {
    width: 145px;
}
.video1 p1 {
    font-size: 24px;
    font-weight: 500;
    line-height: 41.04px;
    color: #063255;
}

.video1 p2 {
    font-weight: 500;
    font-size: 18px;
    line-height: 30.78px;
    color: #F58A07;
}
.video-button {
    position: absolute;
    width: 51px;
    height: 51px;
    border-radius: 50%;
    background-color: #FFFFFF;
    bottom: 40px;
    left: 40px;
}
.video-button img{
    position: absolute;
    left:20px;
    top:17px
}
.video1 p3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 18.32px;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    position: absolute;
    bottom:55px;
    left: 100px
}
.video-button img {
    width: 17px;
    height: 17px;
}
.video1:last-child {
    position: relative;
    border-radius: 20px;
    width: 50%;
    height: 100%;
}
.video-img{
    width: 100%;
    height: 100%;
}
.last-section {
    width: 100%;
    height: 819px;
    background-color: #DCEAF5;
}
.last-section h1 {
    font-size: 48px;
    line-height: 56px;
    color: #0D1317;
}
.blog1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height:90%;
}
.blog-container {
    display: flex;
    justify-content: space-between;
    min-width:940px;
}
.blog2 {
    width: 400px;
    height: 507px;
    background-color: #FFFFFF;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 5px;
}
.blog3{
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.blog2 img {
    border-radius: 20px;
    width: 100%;
    height: 230px;
}
.blog2 h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.03em;
    color: #0D1317;
    margin-top: 0;
}
.blog2 p1{
    height: 96px;
}
