body{
    font-family: 'Poppins', sans-serif;
}
.headercontainer{
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    align-items: center;
    max-width:1280px;
    height: 52px;
    margin:auto;
    width: 100%;
}

.headertools{
    display: flex;
    width:50%;
    justify-content: space-around;
}
.headertools ul {
    display: flex;
justify-content: space-between;
width: 100%;
font-size: 16px;
line-height: 24px;
font-weight: 600;
list-style: none;
    color: #394149;

}
header button{
    color: #F58A07;
    width: 173px;
    height: 52px;
    border-radius: 31px;
    border:none;
    background-color:#F58A071A ;
}
.headerlogo h1{
    color:#063255;
    height: 28px;
    width:122px;
}
.section1{
    
    display: flex;
    justify-content: center;
    background-color: #DCEAF5;
}
.firstdiv:first-child{
    width: 576px;
    height: 439px;

}
.firstdiv:last-child{
    width: 747px;
    height: 618px;

}
.firstdiv h1{
    font-size:64px;
    font-weight: 600;
    line-height: 72px;
    width: 100%;
    
   
    
}
.firstdiv p1{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    width: 100%;  
}

.firstdiv button{
    width: 199px;
    height: 54px;
    border-radius: 27px;
    border:none;
    background-color:#F58A07;
    color:white;
}
.firstdiv .button-div a{
    background-color: #DCEAF5;
    color: #1D3444;
    text-decoration: none;
}

.firstdiv .button-div{
    margin:70px 0;
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
}
.firstdiv h3{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 100%;  
    
}
.firstdiv .logos{
    display: flex;
    justify-content: space-between;
    
}

